<script type="text/javascript">
	let allFiles = [{{ page.files }}];
	let gallery = document.querySelector("#gallery")

	for(let i=0; i<allFiles.length; i++){
		if(allFiles[i].includes(".mov")||allFiles[i].includes(".mp4")){
			let vid = document.createElement("video");
			vid.src="../assets/images/{{ page.project }}/" + allFiles[i];
			vid.classList.add("media");
			vid.controls=false;
			vid.muted=true;
			vid.autoplay=true;
			vid.loop=true;
			gallery.append(vid)
		} else{
			let img = document.createElement("img");
			img.src = "../assets/images/{{ page.project }}/"+ allFiles[i];
			img.classList.add("media");
			gallery.append(img)
		}

	}
</script>