<script type="text/javascript">
	let allFiles = [{{ page.files }}];
	let gallery = document.querySelector("#gallery")

	for(let i=0; i<allFiles.length; i++){
		if(allFiles[i].includes(".mov")||allFiles[i].includes(".mp4") && !allFiles[i].includes("_HERO")){
			let vid = document.createElement("video");
			vid.src="/assets/images/{{ page.project }}/" + allFiles[i];
			vid.classList.add("media");
			vid.classList.add("video");
			vid.controls=false;
			vid.muted=true;
			vid.loop=true;
			gallery.append(vid);
		} else if(allFiles[i].includes("_HERO")){
			let hero = document.createElement("video");
			hero.src="/assets/images/{{ page.project }}/" + allFiles[i];
			hero.classList.add("media");
			// hero.classList.add("video");
			hero.controls=true;
			// hero.muted=true;
			gallery.append(hero);
		} else{
			let img = document.createElement("img");
			img.dataset.src = "../assets/images/{{ page.project }}/"+ allFiles[i];
			img.classList.add("media");
			gallery.append(img)
		}

	}

const images = document.querySelectorAll("[data-src]");

	
	const imgOptions = {
		threshold: 0,
		rootMargin: "100px"
	};

const imgObserver = new IntersectionObserver((entries, 
	imgObserver) => {
		entries.forEach(entry => {
			if (entry.isIntersecting) {
				preloadImage(entry.target);
				imgObserver.unobserve(entry.target);
			}
		})
}, imgOptions);

images.forEach(image => {
	imgObserver.observe(image);
});


function preloadImage(img) {
	const src = img.getAttribute("data-src");
	if(!src){
		return;
	}
	img.src = src;

}

function playPauseVideo() {
    let videos = document.querySelectorAll("video");
    videos.forEach((video) => {
        // Play is a promise so we need to check we have it
        let playPromise = video.play();
        if (playPromise !== undefined) {
            playPromise.then((_) => {
                let observer = new IntersectionObserver(
                    (entries) => {
                        entries.forEach((entry) => {
                            if (!entry.isIntersecting && !video.paused) {
                                video.pause();
                            } else if (video.paused) {
                                video.play();
                            }
                        });
                    },
                    { threshold: 0.2}
                );
                observer.observe(video);
            });
        }
    });
}

// And you would kick this off where appropriate with:
playPauseVideo();

</script>
