  <div class="Projects">
    <div class="navHeader">CASE STUDIES</div>
    <div class="project">
      <div>
        <a href="/projects/typeoftoday.html" rel="history" id="projone">ToT: Designers on Design ↗</a>
      </div>
      <div>
        <span>Editorial/Newspaper Design</span>
      </div>
    </div>

    <div class="project">
      <div>
        <a href="/projects/tide.html" rel="history" id="projtwo">Tide ↗</a>
      </div>
      <div>
        <span>Web Design/Brand Identity</span>
      </div>
    </div>
    
    <div class="project">
      <div>
        <a href="/projects/columbia-records-refresh.html" rel="history" id="projthree">Columbia Records Refresh ↗</a>
      </div>
      <div>
        <span>Brand Identity/Motion</span>
      </div>
    </div>
    
    <div class="project">
      <div>
        <a href="/projects/emoticon.html" rel="history" id="projfour">Emoticon ↗</a>
      </div>
      <div>
        <span>Brand Identity/Motion</span>
      </div>
    </div>
    
    <div class="project">
      <div>
        <a href="/projects/soundboard.html" rel="history" id="projfive">Soundboard ↗</a>
      </div>
      <div>
        <span>Coding</span>
      </div>
    </div>
    
    <div class="project">
      <div>
        <a href="/projects/talking-2-kewl-ppl.html" rel="history" id="projsix">Talking 2 Kewl PPL 101 ↗</a>
      </div>
      <div>
        <span>Zine/Sticker Design</span>
      </div>
    </div>

    <div class="project">
      <div>
        <a href="/projects/mitosis.html" rel="history" id="projseven">Mitosis ↗</a>
      </div>
      <div>
        <span>Typeface Design</span>
      </div>
    </div>

    <div class="project">
      <div>
        <a href="/projects/roadsign-americana.html" rel="history" id="projeight">Roadsign Americana ↗</a>
      </div>
      <div>
        <span>Typography/Coding</span>
      </div>
    </div>

    <div class="project">
      <div>
        <a href="/projects/legacy.html" rel="history" id="projnine">Legacy ↗</a>
      </div>
      <div>
        <span>Editorial/Brand Identity</span>
      </div>
    </div>
  </div>

  <div>
    <span class="navHeader" id="playground">PLAYGROUND </span>
  </div>

  <div>
    <div class="navHeader">WHO AM I?</div>
    <div style="margin-left:8px;">Rand is a 𓅰 NYC-based ⁺˚⋆｡multi-disciplinary｡°✩₊ designer currently entering his final year at The New School pursuing a ✎ BAFA dual-degree in Communication Design + Screen Studies. 
      <br><br>
      He is also currently interning at <a href="sundayafternoon.us" style="text-decoration: underline; color:var(--my-variable); transition: .4s;">Sunday Afternoon</a> as a junior designer.
      He believes highly in experimentation ᵕ̈, aka doing shit ৻(  •̀ ᗜ •́  ৻), as a young designer he is constantly looking for new things to explore in the field of graphic design ✮</div>
  </div>

  <div>
    <div class="navHeader">AWARDS</div>
    <div class="awards">
      <div>
        <span rel="history">YOUNG ONES ADC</span>
      </div>
      <div>
        <span>Silver Cube Winner</span>
      </div>​
      <div>2023</div>
    </div>
    <div class="awards">
      <div>
        <span rel="history">YOUNG ONES ADC</span>
      </div>
      <div>
        <span>Merit Certificate</span>
      </div>​
      <div>2023</div>
    </div>
  </div>

  <div class>
    <div class="navHeader">CONTACT</div>
    <div class="contacts">
        <a href="https://www.instagram.com/randrivera" target="_blank">@randrivera</a>
        <a href="https://www.instagram.com/randrivera" target="_blank">/randrivera</a>
        <a href="mailto:rand.k.rivera@gmail.com">rand.k.rivera@gmail.com</a>
     </div>
  </div>
  
