
    <div class="project">
      <div>
        <a href="/projects/typeoftoday.html" rel="history" id="projone">ToT: Designers on Design ↗</a>
      </div>
      <div>
        <span>Editorial/<br>Newspaper Design</span>
      </div>
    </div>
    <hr>
    
    <div class="project">
      <div>
        <a href="/projects/columbia-records-refresh.html" rel="history" id="projtwo">Columbia Records Refresh ↗</a>
      </div>
      <div>
        <span>Brand Identity/<br>Motion</span>
      </div>
    </div>
    <hr>
    
    <div class="project">
      <div>
        <a href="/projects/emoticon.html" rel="history" id="projthree">Emoticon ↗</a>
      </div>
      <div>
        <span>Brand Identity/<br>Motion</span>
      </div>
    </div>
    <hr>
    
    <div class="project">
      <div>
        <a href="/projects/tide.html" rel="history" id="projfour">Tide ↗</a>
      </div>
      <div>
        <span>Web Design/<br>Brand Identity</span>
      </div>
    </div>
    <hr>
    
    <div class="project">
      <div>
        <a href="/projects/soundboard.html" rel="history" id="projfive">Soundboard ↗</a>
      </div>
      <div>
        <span>Coding</span>
      </div>
    </div>
    <hr>
    
    <div class="project">
      <div>
        <a href="/projects/talking-2-kewl-ppl.html" rel="history" id="projsix">Talking 2 Kewl PPL 101 ↗</a>
      </div>
      <div>
        <span>Zine/<br>Sticker Design</span>
      </div>
    </div>
    <hr>

    <div class="project">
      <div>
        <a href="/projects/mitosis.html" rel="history" id="projseven">Mitosis ↗</a>
      </div>
      <div>
        <span>Typeface Design</span>
      </div>
    </div>
    <hr>

    <div class="project">
      <div>
        <a href="/projects/roadsign-americana.html" rel="history" id="projeight">Roadsign Americana ↗</a>
      </div>
      <div>
        <span>Typography/<br>Coding</span>
      </div>
    </div>
    <hr>

    <div class="project">
      <div>
        <a href="/projects/legacy.html" rel="history" id="projnine">Legacy ↗</a>
      </div>
      <div>
        <span>Editorial/<br>Brand Identity</span>
      </div>
    </div>
    <hr>
    <div class="footer">
      <div id="picker"></div>
    </div>
