.mobile {
  display: none;
}
:root {
    --my-variable: #14c420;
    --background-color: #121212;
    --text-color: whitesmoke;
}

[data-theme="dark"]{
	--background-color: #f8f8f8;
    --text-color: #121212;
}

html {
    cursor: url('/assets/images/custom-cursor.svg') 10 10, auto;
    font-size: 16px;
}

body{
  padding: 10px;
  font-family: 'abc_monument_grotesk_unliceRg';
  background-color: var(--background-color);
  color: var(--text-color);

}

a:hover, button {
    cursor: url('/assets/images/custom-cursor_hover.svg') 10 10, auto;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

hr {
    height: 1.75px;
    background-color: var(--my-variable);
    border: none;
    -webkit-transition: .4s;
    transition: .4s;
}

.italic {
  font-size: 85%;
  font-family: 'abc_monument_grotesk_unliRgIt';
}
.bold{
  font-family: 'abc_monument_grotesk_unliceMd';
}

/* making img + videos full width */
img {
  width: 100%;
}
video {
width: 100%;
}

/* Right Side Content CSS */
.Content{
  width:75%;
  max-height: 90vh;
  /* background-color: aqua; */
  overflow-y: scroll;
  /* display: flex;
  flex-direction: column; */
}


/*Header CSS*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
  padding-top: 5px;
  background-color: var(--background-color);

  font-size: 1.15em;
}
.header > div:nth-child(1){
    width: 25%;
}
.header > div:nth-child(3){
    padding-left: 30px;
    width: 55%;
}
.header > div:nth-child(5){
    text-align: right;
}
#hello {
    color: var(--my-variable);
    -webkit-transition: .4s;
    transition: .4s;
}
.sticky {
  position:sticky;
  top: 0px;
}


/*Navigation CSS*/
.Nav {
  width:25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color:yellow; */
}
.container{
  /* width:100vw; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
}
.navHeader{
  font-family: 'abc_monument_grotesk_unliceMd';
  color: var(--my-variable);
  transition: .4s;
  margin-bottom: 3px;
  width: fit-content;
}
/*changing color playground text*/
@keyframes rainbow-colors {
  0% { color: hsl(0turn, 90%, 65%); }
  25% { color: hsl(.25turn, 90%, 65%); }
  50% { color: hsl(.5turn, 90%, 65%); }
  75% { color: hsl(.75turn, 90%, 65%); }
  100% { color: hsl(1turn, 90%, 65%); }
}
#playground {
  animation: rainbow-colors;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.project, .awards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    text-transform: uppercase;

    word-break: break-all; 

    margin-bottom: 5px;
    margin-left: 8px;  
}
.project div:nth-child(2) {
  text-align:right;
  opacity: 50%;
  text-transform: capitalize;
  
}
.awards div:nth-child(2) span {
  text-align: right;
  text-transform: capitalize;
}
.Projects a:link {
  text-decoration: none;
  color: var(--text-color);

}
.Projects a:hover {
   text-decoration: underline;
   text-decoration-color: var(--my-variable);
  color: var(--my-variable);
}
.contacts {
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: .4s;
  margin-left: 10px;
}
.contacts a:hover {
  color:var(--my-variable);
  text-decoration: underline;
  text-decoration-color: var(--my-variable);

}
#headshot {
  display: none;
}
#WHOAMI:hover + #headshot {
  display: block;
}
#WHOAMI {
  width: fit-content;
}
#WHOAMI:hover::after {
	display: inline;
	content: attr(data-hidden);
	font-family: 'abc_monument_grotesk_unliLtIt';
}
a:hover > .awards div {
  color:var(--my-variable);
  text-decoration: underline;
  text-decoration-color: var(--my-variable);
}
.bio p {
  display: inline-block;
  margin: 0;
}
.bio p:hover {
  color: var(--my-variable);
  animation: bouncingText .4s ease;

}



/*dark/light mode switch CSS*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: url('/assets/images/custom-cursor_hover.svg') 10 10, auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    opacity: 80%;
    -webkit-transition: .4s;
    transition: .4s;
}  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: var(--my-variable);
    opacity: 100%;
}
input:focus + .slider {
    box-shadow: 0 0 1px var(--my-variable);
}  
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}



.footer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    text-align: right;
    align-items: end;

    word-break: break-all;
}
.codedBy {
  font-size: 0.8em;
}

/* nextBefore buttons CSS below project pages*/
.projSwitch {
  display: flex;
  justify-content: space-between;

  text-transform: uppercase;
}
.projSwitch a:hover {
  color: var(--my-variable);
  text-decoration: underline;
  text-decoration-color: var(--my-variable);
}
.nextBefore {
  background-color: var(--background-color);
  position: sticky;
  bottom: -1px;
  padding-top: 5px;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
  }
/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


/* homepage previews CSS*/
.previews {
    position: relative;
    top: 0;
    transition: 1s ease-in-out;
}


/* nameScreen CSS*/ 
.nameInput {
    position: absolute;
    z-index:20;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: 1s ease-out; 


}
.nameInput span:nth-child(3){
    font-family: 'abc_monument_grotesk_unliceMd';
    font-size: 1.1em;
    color: var(--my-variable);
    text-transform: uppercase;
}
.nameInput input[type=text] {
    margin: 10px;
    padding: 2px;
    border-radius: 8px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--my-variable);

    text-align: center;
}
/* enter bttn*/
button {
    font-family: 'abc_monument_grotesk_unliceRg';
    padding: 4px;
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    text-transform: uppercase;
    border-radius: 8px;
}
.move-area {/*normally use body*/
    width: 100vw;
    height: 100vh;
    padding: 10% 45%;
}
.eye {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    /* background: var(--text-color); */
    border: 3px solid var(--text-color);
}
.eye:after { /*pupil*/
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: var(--my-variable);
    border-radius: 50%;
    content: " ";
}
.half-circle {
    width: 70px;
    height: 30px;
    background-color: none;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border: 3px solid var(--text-color);
    border-bottom: 0;
    transform: rotate(180deg);
    margin-bottom: 10px;

    bottom: 5px;
    position: relative;
}

