.projInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10vw;
}

.projTitle {
    text-transform: uppercase;
    font-size: 1.5em;
    
}

.projBio, .projOther > span:nth-child(3) {
    font-family: 'abc_monument_grotesk_unliceLt';
    letter-spacing: 0.01em;
    line-height: 1.6em;
}

.Content {
    overflow-y: scroll !important;
}

