<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Designs - Type of Today</title>	
	<!-- Link to the relevant stylesheet -->
    <link href="/assets/css/fonts.css" rel="stylesheet">
	<link href="/assets/css/main.css" rel="stylesheet">
  <link href="/assets/css/project.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="assets/images/rand_favicon.png">

</head>

<body>
  <div class="header sticky">
    <div class="bold"><a href="/index.html">RAND RIVERA</a></div>
    <div class="hello">
      <div class="welcome-text bold"><span id="hello">Hi! ♥ </span></div> 
    </div>
    <div>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <hr>

  <div class="container">
    <div class="Projects">
      {% include navigation.html %}
    </div>
    <div class="Content">
      <div class="projHeader marquee">
        <p>{{page.projTitle}}</p>
      </div>
      <div class="projInfo">
            <div class="projBio">
                <hr>
                {{page.projBio}}
            </div>
            <div class="projOther">
                <hr>
                <span class="bold">
                    YEAR
                </span>
                <span>{{page.projYear}}</span>
            </div>
        </div>
        <br>
        {{content}}
    </div>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/addons/p5.sound.min.js"></script>
  <script src="/assets/js/project.js"></script>
</body>
</html>