<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Designs - {{page.projTitle}}</title>	
	<!-- Link to the relevant stylesheet -->
  <link href="/assets/css/fonts.css" rel="stylesheet">
	<link href="/assets/css/main.css" rel="stylesheet">
  <link href="/assets/css/mainMobile.css" rel="stylesheet">
  <link href="/assets/css/project.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/assets/images/rand_favicon.png">

</head>

<body>
  <div class="header sticky">
    {% include header.html %}
  </div>

  <hr>
  
  <div class="container">
    <div class="Nav desktopOnly">
      {% include navigation.html %}
    </div>
    <div class="Content">
      <div class="projInfo">
        <div class="projTitle bold">
          <hr class="desktopOnly">
          {{page.projTitle}}
        </div>

        <div class="projBio">
          <hr class="desktopOnly">
          {{page.projBio}}
        </div>
      </div>
      <br>
        {{content}}
        <br>
        <span id ="gallery"></span>
        <div class="nextBefore">
          <hr>
          <div class="projSwitch">
            <a id="prev">TEST
            </a>
            <a id="next">TEST
            </a>
          </div>
        </div>
    </div>
  </div>


  {% include imageGallery.html %}
  {% include nextprev.html %}

  <script src="https://cdn.jsdelivr.net/npm/tsparticles-confetti@2.10.1/tsparticles.confetti.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.js"></script>
  <script src="/assets/js/project.js"></script>
</body>
</html>